DATA_ROOT=/Volumes/Personal/here-i-am
OLLAMA_API_BASE=http://host.docker.internal:11434
OLLAMA_BRIDGE_BASE=http://host.docker.internal:8765
CHAT_MODEL=gemma4:e4b
EMBEDDING_MODEL=embeddinggemma
WHISPER_MODEL=small
CHROMA_COLLECTION=here_i_am_chunks
SESSION_TIMEZONE=America/New_York
LOG_LEVEL=INFO
